@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

/*==================== BASE ====================*/

::-webkit-scrollbar{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; 
}

body {
  color: var(--base-color);
  background: white;
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  --base-color: #838694;
  --heading-color: #1b1f2e;
  --primary-color: #106bae;
  --secondary-color: #0c98cf;
  --lighter-color: #f7f7f9;
  --border-color: rgba(21, 16, 31, 0.1); 
}

a {
color: var(--base-color);
cursor: pointer;
outline: none;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
text-decoration: none; }
a:hover, a:focus, a:visited {
  text-decoration: none;
  outline: none; }
a:hover {
  color: var(--primary-color); }

/* h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
color: var(--heading-color); } */

.text-white h1, .text-white h1 a,
.text-white h2, .text-white h2 a,
.text-white h3, .text-white h3 a,
.text-white h4, .text-white h4 a,
.text-white h5, .text-white h5 a,
.text-white h6, .text-white h6 a,
.text-white .h1, .text-white .h1 a,
.text-white .h2, .text-white .h2 a,
.text-white .h3, .text-white .h3 a,
.text-white .h4, .text-white .h4 a,
.text-white .h5, .text-white .h5 a,
.text-white .h6, .text-white .h6 a {
color: white; }

ul, li {
list-style: none;
padding: 0;
margin: 0; }

img {
max-width: 100%;
display: inline-block; }

input,
select,
textarea,
.nice-select,
.form-control {
width: 100%;
height: auto;
border-radius: 5px;
padding: 15px 30px;
background-color: #fff;
border: 1px solid var(--border-color); }
/* ============================= */

.center-image {
  background-size: cover;
  background-position: center;
}

.section__title {
font-size: var(--h1-font-size);
color: var(--title-color);
}

.section__subtitle {
display: block;
font-size: var(--small-font-size);
margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
text-align: center;
}

.sub-title{

  display: inline-block;
  border-bottom: 3px solid var(--primary-color);
  font-size: 2.2em;
  padding-bottom: 2px;
  margin-top: 40px;
  }


/* =========== Cores globais ==================*/

.bg-secondary-color {
background-color: #ece8e2;
}

.bg-dark-color {
background-color: #050505;
}

.bg-blue-color{
background-color: #1b1f2e;
}

.primary-color {
color: #050505;
}

.secondary-color {
color: #b6bace;
}


/* ====================================================== */
/* =======================  MARGIN UTILIZADOS ================================== */

.mb-30{
  margin-bottom: 30px;
}

.mb-40{
  margin-bottom: 40px;
}

.mb-50{
  margin-bottom: 50px;
}

.mb-60{
  margin-bottom: 60px;
}

.mb-70{
  margin-bottom: 70px;
}

.mb-80{
  margin-bottom: 80px;
}

/*=======================   Margin TOP   ===================== */

.mt-30{
  margin-top: 30px;
}

.mt-40{
  margin-top: 40px;
}

.mt-50{
  margin-top: 50px;
}

.mt-60{
  margin-top: 60px;
}

.mt-70{
  margin-top: 70px;
}

.mt-80{
  margin-top: 80px;
}

/* ==== config dos INPUTS ==== */
textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 


/** Section Title style **/
.section-title {
  margin-top: -7px;
  position: relative; 
}
  .section-title .sub-title {
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    color: var(--secondary-color); 
  }
  @media only screen and (max-width: 767px) {
    .section-title h2 {
      font-size: 35px; 
    } 
  }
  @media only screen and (max-width: 479px) {
    .section-title h2 {
      font-size: 30px;
      line-height: 1.3; 
    } 
  }

  @media only screen and (max-width: 479px) {
    .section-title h3 {
      font-size: 25px; 
    } 
  }

  .section-title .bg-text {
    font-size: 16vw;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.05;
    top: 65%; 
  }
  .section-title.text-center .bg-text {
    color: white; 
  }


/** Button style **/
.theme-btn,
a.theme-btn {
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-weight: 700;
  text-align: center;
  padding: 12px 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--heading-color);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: capitalize;
  background: var(--secondary-color); 
}

  .theme-btn i,
  a.theme-btn i {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-left: 10px; 
  }

  .theme-btn:after,
  a.theme-btn:after {
    content: '';
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    left: 50%;
    top: 50%;
    -webkit-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    position: absolute;
    background: var(--primary-color);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); 
  }

  .theme-btn:hover,
  a.theme-btn:hover {
    color: white; 
}
    .theme-btn:hover:after,
    a.theme-btn:hover:after {
      border-radius: 50%;
      -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
      transform: translate(-50%, -50%) scale(0); 
  }
    .theme-btn:hover i,
    a.theme-btn:hover i {
      margin-left: 13px;
      margin-right: -3px; 
  }
  .theme-btn.style-two,
  a.theme-btn.style-two {
    color: white;
    background: var(--primary-color); 
}
    .theme-btn.style-two:after,
    a.theme-btn.style-two:after {
      background: var(--secondary-color); 
  }
    .theme-btn.style-two:hover,
    a.theme-btn.style-two:hover {
      color: var(--heading-color); 
  }
  .theme-btn.style-three,
  a.theme-btn.style-three {
    color: white;
    background: var(--secondary-color); 
}
    .theme-btn.style-three:after,
    a.theme-btn.style-three:after {
      background: var(--heading-color); 
  }
  .theme-btn.style-four,
  a.theme-btn.style-four {
    color: var(--heading-color);
    background: transparent;
    border: 1px solid var(--border-color); 
}
    .theme-btn.style-four:not(:hover):after,
    a.theme-btn.style-four:not(:hover):after {
      background: transparent; 
  }
  @media only screen and (max-width: 575px) {
    .theme-btn,
    a.theme-btn {
      padding: 9px 25px; 
  } 
}

/* Details Btn */
.details-btn {
  font-size: 22px;
  width: 70px;
  height: 70px;
  background: white;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: var(--primary-color); 
}
  @media only screen and (max-width: 479px) {
    .details-btn {
      width: 45px;
      height: 45px;
      font-size: 16px;
      line-height: 45px; 
  } 
}

/* ================= */

/* ------  Animações REUTILIZAVEIS  ------ */

.text-transition-slider-logo {
  animation: 3.5s anim-lineUp ease-out;
}

.text-transition-slider-navbar {
  animation: 3.0s anim-lineUp ease-out;
}

.text-transition-slider-navbar {
  animation: 2.8s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateX(-60%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


